<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>首页</title>
</head>
<body>
<h1 style="text-align: center; color: black; background-color: red; font-weight: bold;">欢迎来到周盛锦俱乐部学习Spring Security</h1>
<form action="/login" method="post">
	<div style="width:100%; height: 500px">
		<h1 style="top: 500px; border-top: solid 1px black;"></h1>
		<div style="text-align: center;display: inline;">
			<span>用户名：</span><div ><input placeholder="输入用户名" name="username"/></div>
		</div>
		<div style="text-align: center;display: inline;">
			<span>密码：</span><div ><input placeholder="输入密码" name="password"/></div>
		</div>
		<div><input type="submit" value="登录"/></div>
	</div>
</form>
</body>
</html>